.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
  width: 100%;
  margin: 0 auto;
  /* height: 100vh; */
  background-color: var(--color-primary);
}

/* Nav */

nav {
  margin-top: 50px;
}

.title {
  color: var(--color-secondary);
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: bold;
}

.box {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  margin: 10px;
  width: 250px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.box:hover {
  background-color: var(--color-secondary);
  box-shadow: 8px 5px 11px var(--color-dark);
}

div.scroll {
  margin-top: 30px;
  height: 200px;
}

button.down-arrow-button {
  background-color: transparent;
  border: none;
}

img.down-arrow {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

img.down-arrow:hover {
  opacity: 70%;
}

/* Buffers */

div.techsync-buffer {
  background-image: linear-gradient(var(--color-primary), black);
  width: 100%;
  height: 300px;
}

/* div.footer-buffer {
  background-image: linear-gradient(black 20%, var(--color-primary) 80%);
  width: 100%;
  height: 1000px;
} */

/* Projects */

section.techsync {
  font-family: Helvetica, sans-serif;
  color: whitesmoke;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
}

/* div.section-column {
  width: 50%
} */

a.project-title {
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 10px;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
}

a.project-title:hover {
  color: black;
  background-color: var(--techsync-color-blue);
}

h3.project-subtitle {
  font-size: 25px;
  margin-bottom: 2px;
  margin-top: 12px;
  color: var(--techsync-color-blue);
}

img.project-image {
  max-width: 100%;
  max-height: 100%;
  height: 300px;
  width: 300px;
  border-radius: 30px;
  padding: 10px;
}

div.project-text {
  padding-left: 50px;
  font-size: 18px;
}

a.website-link {
  font-size: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

a.website-link:hover {
  color: black;
  background-color: var(--techsync-color-purple);
}

/* Footer */
footer {
  background-image: linear-gradient(black 20%, var(--color-primary) 80%);
  display: flex;
  height: 500px;
  justify-content: center;
  width: 100%;
  align-items: flex-end;
}

footer a {
  margin: 50px;
  
}

img.svg-links {
  width: 78px;
  height: 76px;
}

img.svg-links:hover {
  opacity: 70%;
}

@media only screen and (max-width: 639px) {
  img.project-image {
    height: 200px;
    width: 200px;
  }
  div.section-column {
    padding-left: 10px;
    padding-right: 10px;
  }

  div.project-text {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 400px) {

  a.project-title {
    font-size: 32px;
  }

  h3.project-subtitle {
    font-size: 20px;
  }

  div.project-text {
    font-size: 12px;
  }

  img.project-image {
    height: 150px;
    width: 150px;
  }

  img.svg-links {
    width: 58px;
    height: 56px;
  }

  footer a {
    margin: 25px;
  }

}