/* Import 'Rubik google font' */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  background-color: var(--color-primary);
}

.title {
  color: var(--color-secondary);
  margin-bottom: 30px;
}

.box {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  margin: 10px;
  width: 200px;
  text-align: center;
  font-weight: bold;
}

.box:hover {
  background-color: var(--color-secondary);
  box-shadow: 8px 5px 11px var(--color-dark);
}

footer {
  margin-top: 50px;
}

footer a {
  margin: 50px;
}

img.svg-links {
  width: 58px;
  height: 56px;
}