:root {
  font-family: Rubik, system-ui, Inter, Helvetica;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  
  /* --color-primary: hsl(112, 50%, 90%); */
  --color-primary: 	hsl(57, 36%, 90%);
  --color-secondary: hsl(112, 50%, 10%);
  --color-tertiary: hsl(172, 80%, 20%);
  --color-accent: hsl(52, 80%, 20%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  background-color: var(--color-primary);
}

body{
  margin: 0;
}

[data-theme="dark"] {
  --color-primary: hsl(112, 50%, 10%);
  --color-secondary: hsl(112, 50%, 90%);
  --color-tertiary: hsl(172, 80%, 80%);
  --color-accent: hsl(52, 80%, 80%);
}


@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: hsl(112, 50%, 10%);
    --color-secondary: hsl(112, 50%, 90%);
    --color-tertiary: hsl(172, 80%, 80%);
    --color-accent: hsl(52, 80%, 80%);
  }
}
